.App {
  margin: 20px;
}
p {
  margin: 2px 0;
}

h2 {
  padding: 20px 0px 0 20px;
}
.bold {
  font-weight: bold;
}
.no-data {
  text-align: center;
  padding: 30px 0;
}
.loader {
  align-items: center;
   display: flex; 
   justify-content: center; 
   height: 100vh; 
   width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Table-item {
  display: flex;
  align-items: center;
}

.Table-item span {
  margin-left: 6px;
}

.Table-item span.green {
  color: green;
}
.Table-item span.orange {
  color: orange;
}
.Table-item span.red {
  color: red;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
